.para1{
    
    
    font-family: 'Avenir';
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 241px;
    
}
.para2{
    
    font-family: 'Avenir';
    font-size: 1vw;
        width: 75%;
}

@media screen and (max-width: 480px) {

    .para1 {
    clear: all;
    margin-left: 16%;
    margin-top: 10% !important;
    }
    .para2{
        max-width: 100%;
    padding-left: 14%;
     text-align: center;
     max-height: 80%;
    font-size: 5vw;
    width: 100%;
    }
}

 .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.brk-img-double-wide{
  position:relative;
  padding-bottom:120px;
  z-index:0
      margin-left: 230px;
}
.brk-img-double-wide__container{
  width:80%
}
.brk-img-double-wide__container:first-child{

  overflow:hidden;
  opacity:.5;
  -webkit-transition:opacity .3s,-webkit-transform .3s;
  transition:opacity .3s,transform .3s;
  transition:opacity .3s,transform .3s,-webkit-transform .3s;
  border-top-right-radius:25px;
  border-top-left-radius:25px;
  margin-left: 52px;
    margin-top: 200px;

}
.brk-bordered-theme .brk-img-double-wide__container:first-child{
  border-top-right-radius:var(--b-radius);
  border-top-left-radius:var(--b-radius);
}
.brk-img-double-wide__container:last-child{
  position:absolute;
  right:0;
  top:120px;
  overflow:hidden;
  opacity:1;
  -webkit-transition:opacity .3s,-webkit-transform .3s;
  transition:opacity .3s,transform .3s;
  transition:opacity .3s,transform .3s,-webkit-transform .3s;
  border-bottom-left-radius:25px
  
}
.brk-bordered-theme .brk-img-double-wide__container:last-child{
  border-bottom-left-radius:var(--b-radius)
}
.brk-img-double-wide:hover .brk-img-double-wide__container:first-child{
  z-index:1;
  opacity:1;
  -webkit-transform:translate(30px,30px);
  transform:translate(30px,30px)
}
.brk-img-double-wide:hover .brk-img-double-wide__container:last-child{
  z-index:-1;
  opacity:.5;
  -webkit-transform:translate(-30px,-30px);
  transform:translate(-30px,-30px)
}
.lazyload{
  border-bottom-left-radius:25px;
  width:60%;
  transform: translate(-80px);
      margin-left: 264px;
}

@media screen and (max-width: 480px) {
  .brk-img-double-wide:hover .brk-img-double-wide__container:first-child{
  z-index:1;
  opacity:1;
  -webkit-transform:translate(10px,10px);
  transform:translate(10px,10px);
}
.brk-img-double-wide:hover .brk-img-double-wide__container:last-child{
  z-index:-1;
  opacity:.5;
  -webkit-transform:translate(-20px,-10px);
  transform:translate(-20px,-10px)
}
.lazyload{
  border-bottom-left-radius:25px;
  width:100%;
  margin-left: 10%;
  border-radius: 25px;
  transform: translate(0px,0px);
}.container{
  margin-left: 0%;
  padding-top: 50px;
}
}